<div class="create-kindergarten-screen">
    <div class="container">
        <div class="heading pt-4">
            <h1 translate>{{title}}</h1>
        </div>

        <div class="row justify-content-center py-4">
          <div class="add-img">
            <form>
                <input class="d-none" type="file" accept="image/*" #file (change)="readURL($event)">
                <a (click)="file.click()">
                    <img *ngIf="!imageStore.imageUploaded" src={{imageStore.preview}}>
                    <img *ngIf="imageStore.imageUploaded" src={{loading}}>
                </a>
            </form>
        </div>
      </div>

        <form [formGroup]="programForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>

            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" placeholder="Contact" formControlName="contact">
            </div>

            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="6" placeholder="Description" formControlName="description"></textarea>
            </div>

            <button class="rounded-btn w-100 mt-4" translate
                *ngIf="!editMode"
                (click)="save()" 
                [disabled]="programForm.invalid" 
                [ngClass]="{'disable-opacity': programForm.invalid}">
                Create Kindergarten
            </button>

            <button class="rounded-btn w-100 mt-4" translate
                *ngIf="editMode"
                (click)="update()" 
                [disabled]="programForm.invalid" 
                [ngClass]="{'disable-opacity': programForm.invalid}">
                Update Kindergarten
            </button>
        </form>
    </div>
</div>
