<div class="todo-details-screen">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h1>Todo Details</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="content">
          <h4 class="topic">{{todo.name}}</h4>
          <p class="category d-flex justify-content-between">
            <span>{{getCategoryName(todo.category)}}</span>
            <span class="text-black-50">{{todo.created_at | date: 'mediumDate'}}</span>
          </p>
        </div>

        <div class="description border-bottom">
          <p>{{todo.description}}</p>
        </div>

        <h6 class="pt-3">All Comments</h6>
        <div class="comments" *ngIf="Comments.length > 0">
          <div class="row mt-3" *ngFor="let comment of Comments">
            <div class="col-3">
              <div class="comment-image">
                <div class="done-check-icon" *ngIf="comment.done">
                  <i class="fas fa-check-double text-success"></i>
                </div>
                <p class="avatar-typo">{{comment.userName.charAt(0)}}</p>
              </div>
            </div>

            <div class="col-9 pl-0">
              <h6>{{comment.userName}} <small class="float-right">{{comment.created_at | date: 'mediumDate'}}</small></h6>
              <p class="comment">{{comment.comment}}</p>
              <img class="comment-content-image" *ngIf="comment.image" src={{comment.image}} />
            </div>
          </div>
        </div>
        <p class="text-black-50 text-center py-3" *ngIf="Comments.length == 0">No Comments Found.</p>
      </div>

      <div class="col-12">
        <form [formGroup]="programForm">
          <div class="comment-form border-top pt-3">
            <div class="form-group">
              <label>Add New Comment</label>
              <textarea class="form-control" rows="3" placeholder="Write your comment here.." formControlName="comment"></textarea>
            </div>
          </div>

          <!-- <div class="add-img">
            <input type="file" accept="image/*" (change)="readURL($event)" />
          </div> -->

          <div class="row justify-content-center py-2">
            <div class="container">
              <h5 class="pb-3 text-center">Upload Comment Image</h5>
            </div>
            <div class="add-img">
              <form>
                <input class="d-none" type="file" accept="image/*" #file (change)="readURL($event)">
                <a (click)="file.click()">
                  <img *ngIf="!imageStore.imageUploaded" src={{imageStore.preview}}>
                </a>
              </form>
            </div>
          </div>
  
          <div class="form-check pt-3">
            <input class="form-check-input" type="checkbox" formControlName="done">
            <label class="form-check-label text-success">
              <b>Mark Todo as Done</b>
            </label>
          </div>
        </form>

        <div class="comment-btn">
          <button class="rounded-btn w-100 mt-4"
            (click)="addComment()" 
            [disabled]="programForm.invalid" 
            [ngClass]="{'disable-opacity': programForm.invalid}">
            Comment
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
