<div class="todo-details-screen">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h1>Todo Details</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="content">
          <h4 class="topic">Topic 1</h4>
          <p class="category">
            Rooms Cleaning
            <span class="text-muted pl-3">07-02-2021</span>
          </p>
        </div>
        <div class="description">
          <p>Simple dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        </div>
        <hr>
        <div class="comment">
          <div class="form-group">
            <label>Comment</label>
            <textarea class="form-control" rows="6" placeholder="Write your comment here.."></textarea>
          </div>
        </div>
        <div class="add-img">
          <input type="file" id="img" name="img" accept="image/*">
        </div>
      </div>
      <div class="col-12">
        <div class="comment-btn">
          <a class="rounded-btn w-100 mt-4">Comment</a>
        </div>
      </div>
    </div>
  </div>
</div>
