.rounded-btn {
    border: 1px solid $darkDefault;
    padding: 8px;
    background: $default;
    color: $white;
    border-radius: 50px;
    display: block;
    margin: auto;
    text-align: center;
}

.chip-btn {
    text-decoration: none;
    background: $lightGray;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 15px;
}