<div class="header py-3">
    <div class="container">
        <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}" *ngIf="!backBtnState">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div class="back-btn" *ngIf="backBtnState">
            <a (click)="back()">
                <i class="fas fa-chevron-left"></i>
                <span class="pl-2">Back</span>
            </a>
        </div>

        <div class="logo">
            <img src="assets/img/mum-icon.png" />
        </div>

        <div class="important-todos" (click)="toggleBack()" *ngIf="loginStatus">
            <div class="notifier" *ngIf="notify"></div>
            <a routerLink="/important-todos">
                <i class="fas fa-exclamation-circle"></i>
            </a>
        </div>
    </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">

    <div class="side-area">
        <div class="lang-select">
            <ngx-flag-picker
                [selectedCountryCode]="selectedCountryCode"
                [countryCodes]="countryCodes"
                (changedCountryCode)="changeSelectedCountryCode($event)">
            </ngx-flag-picker>
        </div>

        <div class="row" *ngIf="loginStatus">
            <div class="col-3">
                <div class="profile-image">
                    <p class="avatar-typo">{{user.name.charAt(0)}}</p>
                </div>
            </div>
            <div class="col-9 pl-0">
                <p class="text-white">{{user.name}}</p>
                <p class="text-white-50">{{user.email}}</p>
            </div>
        </div>

        <ul>
            <li *ngFor="let route of routes" [hidden]="!loginStatus">
                <a (click)="routeTo(route.path)" translate>
                    {{route.name}}
                </a>
            </li>
    
            <li *ngIf="!loginStatus" (click)="toggleMenu()">
                <a routerLink="/login" translate>Login</a>
            </li>
    
            <li *ngIf="loginStatus">
                <a (click)="logout()" translate><i class="fas fa-power-off pr-2"></i> Logout</a>
            </li>
    
            <div class="bottom-thing">
                <a href="mailto:mummapp17@gmail.com" translate><i class="fas fa-question-circle"></i> Need Help ?</a>
            </div>
        </ul>
    </div>
</div>


<div class="fade-area"></div>
