@import '../../../styles.scss';

.homepage-screen {
	padding-top: 20px;
    .different-categories {
      padding-top: 20px;
      .heading {
				@include typography($fontSize: 21px, $fontWeight: 600, $color: $lightDefault, $padding: 0);
		  }
      .category {
        background-color: $darkDefault;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        margin: auto;
        color: $white;
        .avatar-typo {
          text-transform: uppercase;
          font-size: 30px;
          text-align: center;
          font-weight: 600;
          padding: 20px;
          color: $white;
        }
      }
    }
    .scrollmenu {
      @include scroll-menu(
        $width: 30%,
        $padding: 14px,
        $background: $white,
        $color: $darkDefault
      );
      .item {
        height: 150px;
        overflow: auto;
      }
      p {
        &.name{
          white-space: pre-wrap;
          line-height: 20px;
        }
      }
    }
}
