<div class="homepage-screen">
	<div class="container">
		<app-slider [data]="kindergartens" [title]="title"></app-slider>

		<div class="different-categories">
			<h3 class="heading">Categories</h3>

      <div class="scrollmenu">
        <div class="item" *ngFor="let item of Categories"
          [routerLink]="['/category-details']"
          [state]="{data: item}"
          (click)="toggleBack()"
        >
          <div class="category"
            [ngClass]="{ 'bg-gradient-1': getRandom() == 1,
              'bg-gradient-2': getRandom() == 2,
              'bg-gradient-3': getRandom() == 3,
              'bg-gradient-4': getRandom() == 4,
              'bg-gradient-5': getRandom() == 5 }"
          >
            <p class="avatar-typo">{{item.name.charAt(0)}}</p>
          </div>
          <p class="text-center pt-2 name">{{item.name}}</p>
        </div>
      </div>

		</div>
	</div>
</div>
