<div class="container">
    <div class="row">
        <div class="col-6 mt-3" *ngFor="let item of kindergartens">
            <div class="card">
                <img class="card-img-top" src={{item.image}} alt={{item.name}}>
                <div class="card-body p-3">
                  <h5 class="card-title mb-0">{{item.name}}</h5>
                  <p class="card-text">{{item.contact}}</p>
                  <a class="btn btn-primary mt-2" (click)="editKindergarten(item)">Edit</a>
                </div>
              </div>
        </div>
    </div>
</div>