@import '../../../styles.scss';

.forget-screen {
  .heading {
    h1 {
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 0px;
    }
    p {
      font-size: 14px;
      color: slategray;
      margin-bottom: 0px;
    }
  }
}
